.footer
    div
      img(src='./images/reliable.png', alt='reliable-icon')
      label(for='reliable') Reliable
    div
      img(src='./images/secure.png', alt='secure-icon')
      label(for='secure') Secure
    div
      img(src='./images/affordable.png', alt='affordable-icon')
      label(for='affordable') Affordable
