block medicine-list
    .medicine-list
        h2 Medicines in your last order
            .medicine-list-item
                .medicine-details
                p
                    | Telma 80-H Tablet
                    img(src='./images/rx-prescription-small.png', alt='')
                span Rs335.5
                sup strip of 15 tablets
            .medicine-list-item
                .medicine-details
                p
                    | Amxime 200mg Table
                    img(src='./images/rx-prescription-small.png', alt='')
                span Rs118
                sup strip of 15 tablets
            button(type='submit') REORDER

          