body{
    margin: 0;
    box-sizing: border-box;
    
}
/* .outer-container{
    width: 561px;
    height: 1327;
    margin: auto;
} */

.container{
    display: flex;
    flex-direction: column;
    font-family: ClearSans;
    color: #212121;
}

.header{
    max-height: 20%;
    background-color: #194b67;
    padding: 5%;
}

.text-body{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.text-body > button{
    flex: 1;
    background-color: #0880c4;
    border-radius: 4px;
    color: white;
    padding: 18px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.intro-info{
    display: flex;
}

.intro-text{
    display: flex;
    flex-direction: column;
}

.intro-info > h1{
    font-size: xx-large;
    font-weight: 300;
}

.intro-text > p{
    font-size: 22px;
    color: #616161e3;
    margin: 0;
}

.medicine-list > h2{
    font-size: xx-large;
    font-weight: 500;
}

.medicine-list-item{
    margin: 0 0 40px 0;
}
.medicine-list-item > sup{
    margin: 0;
    font-family: ClearSans;
    font-weight: 300;
    font-size: 16px;
    color: #616161d9;
}

.medicine-details{
    display: flex;
    align-items: center;
}

.medicine-details > p{
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80%;
}

.medicine-details > span {
    margin: 0 0 0 auto;
    font-size: 23px;
    font-weight: 300;
    color: #212121;
}

.coupon-info{
    font-size: 24px;
    font-weight: 300;
    color: #616161f7;
    margin-top: 20px;
}

.coupon-info > span{
    background-color: #f5a62336;
}

.reorder-details > h3{
    margin-bottom: 0;
}

.reorder-details > p {
    max-width: 90%;;
    margin:0;
    font-size: 16px;
    font-weight: 300;
    color: #616161d4;
}

.reorder-details > p span {
    border-radius: 4px;
    background-color: #0880c442; 
}


.footer{
    display: flex;
    justify-content: space-around;
    background-color: rgba(215, 234, 245, 0.45);
    padding: 40px;
}

.footer > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer img{
    max-width: 43px;
    max-height: 43px;
    margin-bottom: 4px;
}